@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://msmelok.github.io/doct/attach/intelcia_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    padding: 3rem 0rem;
    justify-content: center;
}

.welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(10px); /* Apply blur effect */
    opacity: 1;
    transition: opacity 1s ease-out;
}

.welcome-content {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.fade-out {
    opacity: 0;
}

.container {
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

header h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: #4A3283; /* Optimum Blue */
}

h2 {
    font-size: 24px;
    color: #34495e; /* Darker gray for subtitles */
    margin-bottom: 15px;
}

/* Notes Section Styling */
.notes {
    margin: 10px 0 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

.notes h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#noteInput {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background-color: #f9f9f9;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

#noteInput:focus {
    border-color: #4caf50;
    outline: none;
}

#addNoteBtn {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    background: #fff;
    border: 1px solid #4A3283;
    color: #4A3283;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    background-color: #ecf0f1; /* Light gray background */
    margin-bottom: 40px;
    transition: 0.3s ease;
}

select:hover {
    background-color: #fff;
    border-color: #4A3283; /* Light blue border on hover */
}

ul {
    list-style: none;
}

li {
    margin-bottom: 20px;
    font-size: 18px;
}

.main-item {
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.sub-checklist {
    margin: 10px 5px 5px 30px; /* Apply margin to sub-checklists */
    padding-left: 10px;
    display: none; /* Initially hidden */
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    resize: none;
    box-sizing: border-box;
    transition: 0.3s ease;
}

textarea:focus {
    border-color: #4A3283; /* Blue border on focus */
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Adding shadow for better focus visibility */
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    background: #fff;
    border: 1px solid #4A3283;
    color: #4A3283;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
    width: 48%;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 39%);
}

.button:hover {
    color: #fff;
    background: linear-gradient(101deg, rgba(216, 104, 131, 1) 0%, rgba(142, 38, 117, 1) 100%);
}

.button:active {
    transform: scale(0.98);
}


.progress-bar {
    background-color: #ecf0f1;
    border-radius: 8px;
    height: 5px;
    width: 100%;
    overflow: hidden;
    margin: 5px 0px 30px 0px;
    outline: 1px solid #98b8ff;
}

.progress-fill {
    height: 100%;
    background-color: #267723;
    width: 0;
    transition: width 0.3s ease;
}

.copy-message {
    display: none;
    background-color: #267723; 
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 0;
    transition: opacity 1s ease-out;
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3); 
}

.copy-message.show {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in;
}


.site-footer {
    font-family: inherit;
    text-align: center;
    padding: 10px;
    background-color: #EA297C;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: #3ea0f0;
}


/* Responsive Design */
@media (max-width: 768px) {
    .main-content {
        width: 95%;
        padding: 15px;
    }

    .checklist-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .checklist-item input {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 16px;
        padding: 10px;
    }

    footer {
        font-size: 14px;
        padding: 5px;
    }
}

